<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    
    <link rel="icon" href="./images/icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/homestyle.css">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-default"style="background-color:rgb(2, 31, 105)" font-color="white ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./images/icon1.jpg" width="30" height="30" alt="" class="d-inline-block align-top" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ml-auto">
        <%for(i=0;i<btn.length;i++){%>
      <a class="btn btn-primary btn-sm" type="submit" href="<%=btn[i].link%>" style="background-color:rgb(8, 67, 218);width: 80px;"><%=btn[i].name%></a>
         <%}%>
      </div>
          
      </div>
    </div>
  </nav>
  <br><br>
  
   <div class="container-fluid" id="lib">
  <!-- <header > -->
    <h1><b>Central Library</b></h1>
  <!-- </header> -->
  </div>

  <div class="wrapper">
        <br><br>
    <div class="box">
      <br><br>
      <h1 style="text-align: center; font-size: 35px;">Welcome to Library</h1><br>
      <h1 style="text-align: center; font-size: 25px">Opens at: 9.00</h1>
      <h1 style="text-align: center; font-size: 25px">Closes at: 17.00</h1>
      <h1 style="text-align: center; font-size: 25px">Sunday Holiday</h1>
    </div>
  </div>
  
  <footer class="py-2 fixed-bottom text-white-100"  style="background-color:rgb(2, 31, 105);border-top:10px solid rgb(41, 41, 243);">
    <div class="container text-center">
      <p style="text-align: center;color: aqua;">Copyright 2020 &copy; Central Library Kollam  All Rights Reserved</p>
    </div>
  </footer>
 <script src="js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  
 </body>
</html>